NODE_ENV=production
VUE_APP_TITLE=Whitelisting Platform
VUE_APP_DESC=""
VUE_APP_VERSION=v1.0
VUE_APP_STUDIO_SERVER_BASE_URL=https://192.168.43.43:3003/
VUE_APP_RECAPTCHA_SITE_KEY=google captha site key
VUE_APP_WEBWALLET_URL=https://hswallet.netlify.app
VUE_APP_SERVER_WEBSOCKET_URL=wss://192.168.43.43:3003
VUE_APP_AUTH0_DOMAIN="Your auth0 domain"
VUE_APP_AUTH0_CLIENT_ID="Your auth0 client Id"
VUE_APP_TELEGRAM_BOT_ID="Your Bot ID"
VUE_APP_IS_TEZOS=false