NODE_SERVER_BASE_URL=https://ssi.hypermine.in/core/
HS_AUTH_SERVER_URL=https://ssi.hypermine.in/hsauth/
PORT=3003
HOST=192.168.43.43
DB_URL="You mongo database url"
RECAPTCHA_SECRET=Your recaptcha secret
ENABLE_HTTPS=true
LOG_LEVEL=info
LOG_FILEPATH='whitelist-backend.log'
WHITELISTED_CORS=["*", "http://localhost:9002"]
HS_CRED_SCHEMA_ID=<>
CRED_PARTNER_SECRET_KEY=<>
